{% extends "base.html" %}

{% block content %}
    <div class="row">
       <div class="col-md-4">
          <img src="static/logo.png" height="200">

       </div>
       <div class="col-md-8">
           <h2>Welcome to the Home of the Highway Dragons</h2>
           <p>
Welcome to the website of the Highway Dragons Motorcycle Club. Feel free to cruise the site and to see what we are about. Should you wish to contact us please do so and we will get back to you.
           </p>

           <p>
The Highway Dragons was established in 1997 and has been active in the Durban Area since. Chapters have been established in Gauteng and internationally in the United Arab Emirates.
           </p>

           <p>
The aim of the club is to get like minded people together and to have fun.
           </p>
       </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
          <h3>Dragon Rally!</h3>
          <p> The Highway Dragons host the Dragon Rally. Click <a href="http://dragonrally.co.za"
                >here to learn more</a>
          </p>
        </div> {# col 8 #}
        <div class="col-md-4">
            <img src="static/hw_dragon3.png" height="150">
        </div>
    </div>
    <hr>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="static/dragon 130001.jpg" alt="rally 1" height="200">
        </div>

        <div class="item">
          <img src="static/dragon 130002.jpg" alt="rally 2" height="200">
        </div>

        <div class="item">
          <img src="static/dragon 130003.jpg" alt="rally 3" height="200">
        </div>

        <div class="item">
          <img src="static/dragon 130004.jpg" alt="rally 4" height="200">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <p class="lead text-center">Gallery</p>
{% endblock %}
